
.banner{
    background-image: url('../../assets/images/banner.jpg');
    background-size: cover;
    height: 600px;
    border-radius: 10px;
    width: 100%;
    
}

/* @media (max-width: 768px) {
    .banner {
        height: 40vh;
       
      
    }
} */
/* 
@media (max-width: 480px) {
    .banner {
        height:fit-content; 
       
       
    }
} */